body {
    background-color: tan;
    
}

table {
    background-color: aqua;
    border-collapse: collapse; /*Otherwise row borders will not appear */

}

tr {
    border: 5px solid black
}

tr:nth-child(even) {
    background-color: aquamarine;
}

th {
    border-right: 2px solid black;
    padding: 5px 5px;
}

th:last-child {
    border-right: none;
}

td {
    padding: 5px 5px;
    border-right: 2px solid black;
}

td:last-child {
    border-right: none;
}